@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', monospace;
    transition: .2s linear;
}

:root{
    --bg: #333;
    --color:#adff2f;
    --texto: #fff;
    --box: #010103;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar{
    width: .8rem;
    background-color: var(--box);
}

html::-webkit-scrollbar-track{
	background: transparent;
    
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
    background: var(--color);
}

body{
    background: var(--bg);
}

section{
    margin: 1.5rem 7%;
}

h1, h2, p{
    text-shadow: black 0.1em 0.1em 0.2em
}

.text{
    padding-top: 1.5rem;
    color: var(--color);
    margin-bottom: 20px;
}

span{
    color: var(--texto);
    margin-bottom: 20px;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color);
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 9rem;
    border-radius: 50%;
    border: 2px solid var(--color);
    padding: 4px;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.9rem;
    color: #fff;
    padding-bottom: 2px;
}

.header .navbar a i{
    margin-right: .5rem;
    font-size: 1.8rem;
    color: var(--color);
}

.header .icons a{
    font-size: 3rem;
    margin: 0 .3rem;
    color: var(--color);
}

.header .icons a:hover{
    color: var(--texto)
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    width: 50%;
}

.home .container h1{
    font-size: 8rem;
    color: var(--color);
    margin-bottom: 20px;
}

.home .container .name{
    font-size: 6rem;
}

.home .container p{
    color: var(--texto);
    font-size: 1.8em;
}

.home p{
    text-shadow: black 0.1em 0.1em 0.1em;
}

.about{
    height: 100vh;
}

.about .text{
    margin-bottom: 20px;
}

.about .column{
    display: flex;
    align-items: center;
    background: #010103;
    border: 1px solid var(--color);
    height: 70%;
    flex-wrap: wrap;
}

.about .text{
    font-size: 6rem;
    color: var(--color);
    text-align: center;
}

.about .row{ 
    color: var(--texto);
    font-size: 2rem;
    text-align: left;
    align-items: center;
    margin-top: 50px;
    padding: 1.5rem;
}

.about .column .row{
    flex: 1 1 45rem;
}

.about .column p{
    line-height: 1.3;
    padding: 20px;
}

.about .column .image{
    flex: 1 1 45rem;
}

.about .image img{
    width: 100%;
}

.about .column .drop{
    border-radius: 30% 70% 70% 30% / 30% 47% 53% 70%;
    border: 1px solid #adff2f;
    margin-left: 30%;
    width: 350px;
    height: 300px;
}

.projects .text{
    font-size: 6rem;
    text-align: center;
    color: var(--color);
}

.projects .column-2{
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    border: 1px solid var(--color);
    background-color: var(--box);
}

.projects .column-2 .more{
    padding-left: 35px;
}

.projects .column-2 .more img{
    width: 25vw;
    height: 15vw;
    margin: 20px;
    padding: 5px;
    border: 1px solid var(--color);
    border-radius: 15px;
}

.projects .column-2 .more img:hover{
    transform: scale(1.3);
}

.projects .column-2 .more p{
    color: var(--texto);
    font-size: 1.5rem;
}

.contact{
    margin-top: 10%;
}

.contact .text{
    font-size: 6rem;
    text-align: center;
    color: var(--color);
}

.contact .column-3{
    display: flex;
    background: var(--box);
    padding: 15px;
    border: 1px solid var(--color);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .column-3 .map{
    flex: 1 1 45rem;
    width: 100%;
    border-radius: 10px;
}

.contact .column-3 form{
    flex: 1 1 45rem;
    padding: 3rem 1rem;
    text-align: center;
}

.contact .column-3 form h3{
    color: var(--color);
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact .column-3 form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: var(--bg);
    height: 50px;
    border-radius: 20px;
    border: 1px solid var(--color);
}

.contact .column-3 form .inputBox span{
    color: var(--color);
    font-size: 2rem;
    align-items: center;
    margin: 10px;
}

.contact .column-3 form .inputBox input{
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 20px;
    border: 1px solid var(--color);
    height: 50px;
}
.contact .column-3 .send span{
    color: var(--color);
}

.contact .column-3 .send span{
    font-size: 2rem;
    margin-right: 5px;
    margin-top: 30px;
}

.contact .column-3 .send .btn{
    font-size: 2rem;
    padding: 10px;
    color: var(--bg);
    border-radius: 15px;
}

.contact .column-3 .send .btn:hover{
    background-color: var(--color);
    color: var(--box);
}

.footer{
    margin-top: 10%;
}

.footer .text{
    text-align: center;
    font-size: 6rem;
}

.footer .column-4{
    height: 20vh;
    align-items: center;
    border-top: 1px solid var(--color);
    background-color: var(--box);
}

.footer .column-4 .share a{
    color: var(--texto);
    font-size: 3rem;
    margin: 15px;
    border: 2px solid var(--bg);
    border-radius: 30px;
    padding: 10px;
}

.footer .column-4 .share a:hover{
    color: var(--color);
    border: 2px solid var(--color);
}

.footer .column-4 .share{
    text-align: center;
    margin: 1.5rem;
    font-size: 1.9rem;
}

.footer .column-4 .links{
    text-align: center;
    justify-content: space-between;
}

.footer .column-4 .links a{
    font-size: 2rem;
    text-align: center;
    color: var(--texto);
    margin: 5px;
}

.footer .column-4 .links a i{
    font-size: 2rem;
    margin: 5px;
    color: var(--color);
}

.created .text{
    font-size: 2rem;
}

@media (max-width:1200px){
    .about .column .drop{
     width: 30vw;
     height: 30vw;
    }
}

@media screen and (max-width:991px){
    header .navbar{
        display: none;
    }

    .header{
	padding: 1.5rem 7%;
    }

    header .icons{
        display: none;
    }

    .about .column .drop{
        width: 30vw;
        height: 30vw;
    }

    .about .column .drop{
        display: none;
    }

    .projects .column-2 .row-2{
        height: 100%;
        margin: 0;
    }

    .projects .row-2 .more img{
        height: 40vw;
        width: 60vw;
    }

    .text{
        font-size: 1.5rem;
    }

    .footer .created h2{
        font-size: 1.5rem;
    }

    .footer .created h2 span{
        font-size: 1.5rem;
    }

    .footer .column-4{
        height: 250px;
    }

    .footer .column-4 .share{
        font-size: 1.9rem;
    }

    .footer .column-4 .share a{
        font-size: 1.5rem;
        margin: 30px 10px;
    }

    .footer .column-4 .links a{
        font-size: 1.5rem;
    }

    .footer .column-4 .links a i{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:800px){
    header .navbar{
        display: none;
    }

    .header{
	padding: 1.5rem 7%;
    }

    header .icons{
        display: none;
    }

    .about .column .drop{
        width: 30vw;
        height: 30vw;
    }

    .about .column .drop{
        display: none;
    }
    
    
    .projects .row-2 .more img{
        height: 40vw;
        width: 60vw;
    }

    .text{
        font-size: 1.5rem;
    }

    .footer .created h2{
        font-size: 1.5rem;
    }

    .footer .created h2 span{
        font-size: 1.5rem;
    }

    .footer .column-4{
        height: 250px;
    }

    .footer .column-4 .share{
        font-size: 1.9rem;
    }

    .footer .column-4 .share a{
        font-size: 1.5rem;
        margin: 30px 10px;
    }

    .footer .column-4 .links a{
        font-size: 1.5rem;
    }

    .footer .column-4 .links a i{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px){
    header .navbar{
        display: none;
    }

    .header{
	padding: 1.5rem 7%;
    }

    header .icons{
        display: none;
    }

    .home .container .text{
        font-size: 7rem;
    }

    .about .column .drop{
        display: none;
    }

    .about .column p{
        font-size: 1.6rem;
    }

    .projects .row-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects .row-2 .more img{
        height: 40vw;
        width: 60vw;
    }

    .contact .text{
        font-size: 5rem;
    }

    .footer .column-4 .share{
        margin: 0;
    }

    .footer .column-4 .share a{
        font-size: 1.1rem;
    }

    .footer .column-4 .links a{
        font-size: 1.5rem;
        justify-content: space-between;
    }

    .footer .column-4 .links a i{
        font-size: 1.5rem;
    }
}
